<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dublin Bikes{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>

        <h1>
            <img src="{{ url_for('static', filename='pics/logo.webp') }}" alt="Logo" width="40" />
            DUBLIN BIKES
          </h1>
          <nav>
            <ul>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('currentdata_page') }}">Current Data</a>
            </ul>
          </nav>

    </header>


    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; Dublin Bikes Project</p>
    </footer>
</body>
</html>
